{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div><img src="{{ url_for('static', filename = 'top-banner.jpg') }}" class="stretch img-fluid" alt="Responsive image"></div>
	{% with messages = get_flashed_messages() %}
      {% if messages %}
	  <div class = "content alert alert-success">  
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
		</ul>
		</div>
        {% endif %}
    {% endwith %}


<button  onclick="window.location.href='{{url_for('newRestaurant')}}'" class="btn btn-primary" id="new-restaurant">
	<i class="far fa-plus-square" style=" vertical-align: middle;"></i> <i style=" vertical-align: middle;"> Add Restaurant</i> 
</button>
<div class="divider-10"></div>
	{% for restaurant in restaurants %}
		<a href = "{{url_for('showMenu', restaurant_id = restaurant.id)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 restaurant-list">
						<h3>{{restaurant.name}}</h3>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
	{% endfor %}
{% endblock %}
